In [5]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [7]:
my_list = [10,20,30,40,50]
for item in my_list:
    print(5*item)

50
100
150
200
250

In [9]:
for x in range (len(my_list)):
    print(3* my_list[x])

30
60
90
120
150

In [13]:
#duplicates can be possible in list
duplicate_values = [2,3,4,4,9,6]
print(duplicate_values)

[2, 3, 4, 4, 9, 6]

In [15]:
#Intial list of orders: [item_name,quantity]
orders = [["apple", 10],["banana", 24],["cherry", 5]]
print(orders)

[['apple', 10], ['banana', 24], ['cherry', 5]]

In [17]:
#add a new order with append()
new_order1 = ["date", 12]
orders.append(new_order1)
print(orders)

[['apple', 10], ['banana', 24], ['cherry', 5], ['date', 12]]

In [21]:
#add multiple orders at a time
new_orders = [["grape",9],["apple", 20]]
orders.extend(new_orders)
print(orders)

[['apple', 10], ['banana', 24], ['cherry', 5], ['date', 12], 'date', 12, ['grape', 9], ['apple', 20]]

In [25]:
#add (insert) an order at an index position 3
new_order2 = ["dragon", 10]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 24],
 ['cherry', 5],
 ['dragon', 10],
 ['date', 12],
 'date',
 12,
 ['grape', 9],
 ['apple', 20]]

In [1]:
#lists can contain nested lists nested_lists 
nested_list=[[1,2],[2,3]]
print(nested_list)

[[1, 2], [2, 3]]

In [7]:
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grape',9],['apple',20]]
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grape', 9], ['apple', 20]]

In [9]:
#update the quantity of an item ("cherry" to 10)
for each in orders:
    if each[0] == "cherry":
        each[1] = 10
        print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9], ['apple', 20]]

In [16]:
#to sum the no of apples in the gien list
apple_orders=[]
for each in orders:
    if each[0] =='apple':
        apple_orders.append(each[1])
        print(apple_orders)
        print(sum(apple_orders))

[10]
10
[10, 20]
30

In [18]:
#creating tuples 
Tup1=(3,5,9,10)
Tup2=10,20,30,40
Tup3=tuple([2,24,9,6])
print(Tup1)
print(Tup2)
print(Tup3)

(3, 5, 9, 10)
(10, 20, 30, 40)
(2, 24, 9, 6)

In [20]:
#slicing the tuple
print(Tup1[1:2])

(5,)

In [22]:
Tup4=([3,4,5],(1,3,6),"Hello",10.5)
print(Tup4)

([3, 4, 5], (1, 3, 6), 'Hello', 10.5)

In [24]:
Tup5='Welcome to hello world'
print(Tup5[2:9])

lcome t

In [26]:
#any list element can be changes in tuple
Tup4[0][2]=10
print(Tup4)

([3, 4, 10], (1, 3, 6), 'Hello', 10.5)

In [28]:
Tup4[1] [1] = 100
tup4

TypeError: 'tuple' object does not support item assignment

In [30]:
#there are 2 methods in tuple they are index and count
#use index() method to find the index value
Tup4.index('Hello')

2

In [32]:
#use coun() method  of tuple count an
tup5 = (10,20,1,10,10,30,10)
tup5.count(10)

4

In [1]:
d3 = dict ([("x", 1), ("y", 2),("z", 3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [7]:
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [9]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}

In [11]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}